.full-layout {
  font-family: Tahoma, sans-serif;

  margin: 0;
  padding: 0;
  background: hsla(269, 92%, 80%, 1);
  background: linear-gradient(0deg, hsla(269, 92%, 80%, 1) 0%, hsla(261, 88%, 77%, 1) 51%, hsla(255, 85%, 73%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(269, 92%, 80%, 1) 0%, hsla(261, 88%, 77%, 1) 51%, hsla(255, 85%, 73%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(269, 92%, 80%, 1) 0%, hsla(261, 88%, 77%, 1) 51%, hsla(255, 85%, 73%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CB9DFB", endColorstr="#B48FF8", GradientType=1 );

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  


}

.game-layout {
  width: 71%;
  height: 91%; 
  margin: auto;
  display: flex;
  flex-direction: column; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsla(219, 34%, 30%, 1);
  background: linear-gradient(0deg, hsla(219, 34%, 30%, 1) 9%, hsla(223, 38%, 18%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(219, 34%, 30%, 1) 9%, hsla(223, 38%, 18%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(219, 34%, 30%, 1) 9%, hsla(223, 38%, 18%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#324465", endColorstr="#1D2740", GradientType=1 );
  border-radius: 80px;
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}



.Hit {
  background: hsla(120, 40%, 56%, 1);
  background: radial-gradient(circle, hsla(120, 40%, 56%, 1) 0%, hsla(122, 39%, 49%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(120, 40%, 56%, 1) 0%, hsla(122, 39%, 49%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(120, 40%, 56%, 1) 0%, hsla(122, 39%, 49%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#64BC64", endColorstr="#4CAF50", GradientType=1 );
  color: #fff;
  border: none;
  border-radius: 25px;
  margin-right: 10px; 
  width: 40%;
  height: 55%;
  position: absolute;
  top: 50%; 
  right: 50%;
  font-weight: 550;
  outline: none;
  z-index: 2;
  font-size: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Hit:active,
.Hit:focus {
  outline: none;
}


.Stand {
  background: hsla(357, 100%, 69%, 1);
  background: linear-gradient(90deg, hsla(357, 100%, 69%, 1) 0%, hsla(357, 60%, 64%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(357, 100%, 69%, 1) 0%, hsla(357, 91%, 64%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(357, 100%, 69%, 1) 0%, hsla(357, 91%, 64%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF636B", endColorstr="#F75058", GradientType=1 );
  color: #fff;
  border: none;
  border-radius: 25px;
  margin-right: 10px; 
  width: 40%;
  height: 55%;
  position: absolute;
  top: 50%;
  left: 60%;
  font-weight: 550;
  outline: none;
  z-index: 2;
  font-size: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Stand:active,
.Stand:focus {
  outline: none;
}

.Deal {
  background-color: #31425e;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 10px; 
  width: 20%;
  height: 12%;
  left: 40%;
  bottom: 10%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 130%;


}

.Deal:active,
.Deal:focus {
  outline: none;
}

.Half {
  background-color: #596b8a;
  color: #fff;
  border: none;
  border-radius: 13px;
  margin-right: 10px; 
  width: 4vw;
  height: 3.2vh;
  font-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.Clear {

    background-color: #596b8a;
    color: #fff;
    border: none;
    border-radius: 13px;
    margin-right: 10px; 
    width: 4vw;
    height: 3.2vh;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 
  
}

.Clear:active,
.Clear:focus {
  outline: none;
}

.Half:active,
.Half:focus {
  outline: none;
}


.All-In {
  background-color: #596b8a;
  color: #fff;
  border: none;
  border-radius: 13px;
  margin-right: 10px;
  width: 4vw;
  height: 3.2vh;
  font-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

}

.All-In:active,
.All-In:focus {
  outline: none;
}

.button-container {

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10%;
  width: 90%;
  position: relative;
  top: 12%;
  margin: auto;

}


.backdrop {

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  border-radius: 80px;

}

.modal-bet {
  background: linear-gradient(10deg,#fa0,#ff6a00);
  background: var(--gradient)
}

.board {
  position: absolute;
  width: 80%; 
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  
}

#GameBoard {
  width: 115%;
  object-fit: cover;
  position: relative;
  top: 0;
  left: -7%;
  z-index: 1;


}



.buttons {

  position: absolute;
  bottom: 8%;
  left: 40%;
  z-index: 2;
  height:10%;
  width: 20%;


}

.your-value {

  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 25%);
  color: #F93844;
  font-size: 100%;
  z-index: 2;
  font-weight: 150;
  
}

.your-word {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color: #bbc3ca;
  font-size: 0.9vw;
  z-index: 2;
  font-weight: 500;
}

.your-score {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 330%);
  height: 11%;
  width: 8%;
  z-index: 1;
  font-size: 1.45vw;
    
  border-radius: 15px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

}

.dealer-value {

  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 25%);
  color: #F93844;
  font-size: 100%;
  z-index: 2;
  font-weight: 150;
  
}

.dealer-word {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color: #bbc3ca;
  font-size: 0.9vw;
  z-index: 2;
  font-weight: 500;
}

.dealer-score {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -30%);
  height: 11%;
  width: 8%;
  z-index: 1;
  font-size: 1.45vw;
  
  border-radius: 15px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

}

.betting-window {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);

  height: 100%;
  width: 100%;

  z-index: 3;
}

.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 40%;
  background-color: #1e222b;
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

}

.container-chips {

  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
  width: 100%;
  margin-top: 10%;

}

.chip {

    width: 25%;
    height: 50%

}

#Chip1 {

  background-image: url('assets\1.png');
  background-size: cover;
  background-position: center;


}

#Chip5 {

  background-image: url('assets\5.png');
  background-size: cover;
  background-position: center;

}

#Chip25 {

  background-image: url('assets\25.png');
  background-size: cover;
  background-position: center;


}

#Chip100 {

  background-image: url('assets\100.png');
  background-size: cover;
  background-position: center;


}

#Chip500 {

  background-image: url('assets\500.png');
  background-size: cover;
  background-position: center;


}

.amount-to-bet {

  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, 25%);
  color: white;
  font-size: 1.8vw;
  z-index: 2;
  font-weight: 150;

}

.textInCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #bbc3ca;
  font-size: 1.5vw;
  z-index: 2;
  font-weight: 500;
  white-space: nowrap;
}

.balance {
  position: absolute;
  top: 5%;
  left: 5%; 
  color: white;
  font-size: 1.2vw;
  z-index: 2;
  font-weight: 120;
}



.menu {
  width: 100%;
  height: 100%; 
  margin: auto;
  display: flex;
  flex-direction: column; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsla(219, 34%, 30%, 1);
  background: linear-gradient(0deg, hsla(219, 34%, 30%, 1) 9%, hsla(223, 38%, 18%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(219, 34%, 30%, 1) 9%, hsla(223, 38%, 18%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(219, 34%, 30%, 1) 9%, hsla(223, 38%, 18%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#324465", endColorstr="#1D2740", GradientType=1 );
  border-radius: 80px;
  z-index: 8;
  
}

.textInMenu {
  position: absolute;
  top: 33.33%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5vw;
  z-index: 7;
  font-weight: 500;
}

.Start {
  background: hsla(120, 40%, 56%, 1);
  background: radial-gradient(circle, hsla(120, 40%, 56%, 1) 0%, hsla(122, 39%, 49%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(120, 40%, 56%, 1) 0%, hsla(122, 39%, 49%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(120, 40%, 56%, 1) 0%, hsla(122, 39%, 49%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#64BC64", endColorstr="#4CAF50", GradientType=1 );
  color: #fff;
  border: none;
  border-radius: 25px;
  margin-right: 10px;
  width: 10%;
  height: 8%;
  position: absolute;
  bottom: 15%;
  left: 45%;

  font-weight: 550;
  outline: none;
  z-index: 2;
  font-size: 130%;
  
 
}

.Start:active,
.Start:focus {
  outline: none;
}

.Sound-icon {
  background-image: url('./assets/Sound Icon.png');
  width: 3.5%;
  height: 5%;
  border-radius: 35%;
 background-color: #283a57;


  position: absolute;
  top: 5%;
  right: 5%;
  margin-top: 0;
  margin-right: 0;
  z-index: 3;
}


.Sound-icon:active,
.Sound-icon:focus {
  outline: none;
}

