body {
  margin: 0;
  padding: 0;
  background: hsla(269, 92%, 80%, 1);
  background: linear-gradient(0deg, hsla(269, 92%, 80%, 1) 0%, hsla(261, 88%, 77%, 1) 51%, hsla(255, 85%, 73%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(269, 92%, 80%, 1) 0%, hsla(261, 88%, 77%, 1) 51%, hsla(255, 85%, 73%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(269, 92%, 80%, 1) 0%, hsla(261, 88%, 77%, 1) 51%, hsla(255, 85%, 73%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CB9DFB", endColorstr="#B48FF8", GradientType=1 );

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.game-layout {
   width: 71%;
  height: 91%; 
  display: flex;
  margin: auto;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  background: hsla(219, 34%, 30%, 1);
  background: linear-gradient(0deg, hsla(219, 34%, 30%, 1) 9%, hsla(223, 38%, 18%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(219, 34%, 30%, 1) 9%, hsla(223, 38%, 18%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(219, 34%, 30%, 1) 9%, hsla(223, 38%, 18%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#324465", endColorstr="#1D2740", GradientType=1 );
  border-radius: 80px;
  
}


.Hit {
  background: hsla(120, 40%, 56%, 1);
  background: radial-gradient(circle, hsla(120, 40%, 56%, 1) 0%, hsla(122, 39%, 49%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(120, 40%, 56%, 1) 0%, hsla(122, 39%, 49%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(120, 40%, 56%, 1) 0%, hsla(122, 39%, 49%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#64BC64", endColorstr="#4CAF50", GradientType=1 );
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-right: 10px; 
  width: 93px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;

  font-weight: 700;
  outline: none;
}

.Hit:active,
.Hit:focus {
  outline: none;
}


.Stand {
  background: hsla(357, 100%, 69%, 1);
  background: linear-gradient(90deg, hsla(357, 100%, 69%, 1) 0%, hsla(357, 60%, 64%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(357, 100%, 69%, 1) 0%, hsla(357, 91%, 64%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(357, 100%, 69%, 1) 0%, hsla(357, 91%, 64%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF636B", endColorstr="#F75058", GradientType=1 );
  color: #fff;
  border: none;
  border-radius: 20px;
  margin-right: 10px; 
  width: 93px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, 300%);
  font-weight: 700;
  outline: none;
}

.Stand:active,
.Stand:focus {
  outline: none;
}

.Deal {
  background-color: #31425e;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 10px; 
  width: 110px;
  height: 50px;
}

.Half {
  background-color: #1a243c;
  color: #fff;
  border: none;
  border-radius: 13px;
  margin-right: 10px; 
  width: 80px;
  height: 35px;
  font-size: 75%;
}


.All-In {
  background-color: #1a243c;
  color: #fff;
  border: none;
  border-radius: 13px;
  margin-right: 10px;
  width: 80px;
  height: 35px;
  font-size: 75%;
}


.backdrop {

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  border-radius: 50px;

}

.modal-bet {
  background: linear-gradient(10deg,#fa0,#ff6a00);
  background: var(--gradient)
}

#dealer-cards img {
  text-align: center;
  height: 13%;
  width: 70%;
  margin: 5px;
  border-radius: 20px;




}

#your-cards img {
  text-align: center;
  height: 13%;
  width: 20%;
  margin: 5px;
  border-radius: 20px;




}


